/* CSS */

* {
    box-sizing: border-box;
}
body {
    background-color: gray;    
}
/* styling for container box element */
.container {
    width: 980px;
    height: 400px;
    background-color: lightgray;
    margin-left: 250px;
    margin-top: 175px;
    padding: 25px;
    border-style: ridge;
    border-width: 5px;
    border-color: slateblue;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
  /* Styling for header tags */
h1 {
    text-align: center;
    font-size: 32px;
}
h2 {
    text-align: center;
    font-size: 26px;
}
/* styling for p tags that display game output data from javascript */
p {
    font-size: 20px;
    padding: 5px;
}
/* margin added to relocate p-tag elements within the container */
#game {
    margin-left: 350px;
}

